@page "/User/Register/{data?}"
@*@model Users.Areas.User.Pages.Account.RegisterModel*@
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        <h3 align="center">
            @Model.Message
        </h3>
    </p>
</div>